body{
    background-color: #1D2D3C;
}
header{
    height: 80px;
    background-color: #06131F;
}
header img{
    height: 50px;
}
.card{
    background-color: #112030;
}
.autore{
    font-size: 14px;
}